html {
    font-size: 0.9rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.1rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.3rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.5rem;
    }
}